extends layout

block content
  p Math.acosh() applied to #{x} is #{acosh}
  p Math.log1p() applied to #{x} is #{log1p}
  p Math.tan() applied to #{x} is #{tan}
  p Math.sqrt() applied to #{x} is #{sqrt}